@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400&display=swap');

:root{
    --fontcolor: rgb(40,40,40);
    --bgcolor: rgb(255, 255, 255);
    --foregroundcolor: rgb(200,200,200);
    --bodywidth: 80%;
    --buttoncolor: rgb(175, 175, 175);
    --shadowcolor: rgb(150,150,150);
    
}

html {
    scroll-behavior: smooth;
}

.dark{
    --fontcolor: rgb(255,255,255);
    --bgcolor: rgb(20,20,20);
    --foregroundcolor: rgb(60,60,60);
    --buttoncolor: rgb(49, 49, 49);
    --shadowcolor: rgb(15,15,15);
}

body{
    margin: 5;
    font-family: 'Roboto', sans-serif;
    background: var(--bgcolor);
    color: var(--fontcolor);
}

.header{
    background: var(--foregroundcolor);
    box-shadow: 2px 2px 6px var(--shadowcolor);
    height: 50px;
    border-radius: 9px;
    width: var(--bodywidth);
    margin: 0 auto;
    margin-top: 15px;
}

.header.dark{
    box-shadow: 2px 2px 6px var(--shadowcolor);
}


.nav{
    text-align: center;
    line-height: 40px;
    padding: 5px;

}

.navitem{
    color: var(--fontcolor);
    
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    padding: 5px;
    align-items: center;
    /* transition: all 500ms ease-in-out; */
}

.navitem:hover{
    transform: scale(1.1);

}


.toggleDarkIcon{
    color: var(--fontcolor);
    --ggs: 1.4;


}

.toggleDark{
    background: var(--foregroundcolor);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: sticky;
    bottom: 30px;
    margin-right: 20px;
    float: right;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    right: 30px;
    background: var(--foregroundcolor);
    border-radius: 50%;
    box-shadow: 3px 3px 3px var(--shadowcolor);
    cursor: pointer;
}




/* Status Colours */
/* .blob{
    height: 60%;
    width: 60%;
    border-radius: 50%;
    background: limegreen;
    display: inline-block;
    vertical-align: middle;
}

.onlinestatus{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 10px;
    display: table;
    

}

.onlineText{
    position: inherit;
    color: var(--fontcolor);
    display: inline-block;
    vertical-align: middle;

} */


.content{
    width: var(--bodywidth);
    margin: 0 auto;
    height: 400px;
    margin-top: 30px;
    display: flex;
    
}

.content div{
    border-radius: 9px;
    height: 100%;
    width: 50%;
    margin: 0;
}




/* .about{
    margin: 0 auto;
    height: 400px;
    margin-top: 30px;
    display: flex;
}

.about div{
    border-radius: 9px;
    height: 100%;
    width: 50%;
    margin: 0;
}


.about img{
    width: 200px;
    display: block;
    height: 200px;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
}

.about h1{
    text-align: center;
} */


.about{
    width: var(--bodywidth);
    margin: 0 auto;
    margin-top: 60px;
}

.about img{
    width: 200px;
    display: block;
    height: 200px;
    margin: 0 auto;
}

.about h1{
    text-align: center;
    margin-bottom: 5px;
}

.about h3{
    text-align: center;
    margin: 5px;
}

.skills{
    width: calc(var(--bodywidth)*.8);
    margin: 0 auto;
    display: table;    
}

.title{
    
    width: calc(var(--bodywidth)*.8);
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 60px;
}

.skill{
    padding: 5px;
    display: table-cell;
    width: 25%;
}

.skill svg{
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}

.skill img{
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}

.skill p {
    margin-left: 10px;
    font-weight: 300;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}

.projects{
    width: calc(var(--bodywidth)*.8);
    margin: 0 auto;
}

.projectLangs svg{
    width: 25px;
    margin: 0 2px;
}

.projectLangs img{
    width: 25px;
    margin: 0 2px;
}

.project{
    background: var(--foregroundcolor);
    border-radius: 9px;
    padding: 5px;
    margin-bottom: 15px;
    text-decoration: none;
    color: var(--fontcolor);
    display: table-cell;
    box-shadow: 3px 3px 3px var(--shadowcolor);
}

.project.dark{
    box-shadow: 3px 3px 3px var(--shadowcolor);
}

.projectLink:hover{
    z-index:5;
}

.projectRow{
    display: flex;
    justify-content: space-between;
}

.projectLink{
    text-decoration: none;
    display: table;
    width: 49%;
    margin: 5px;
}

.project h1{
    padding: 5px 10px;
    margin: 0;
    background: var(--buttoncolor);
    border-radius: 9px;    
    width: max-content;
}

.projectLangs{
    padding: 5px;
    background: var(--buttoncolor);
    width: max-content;
    border-radius: 9px;
    margin-left: 5px;
    display: flex;
}


.project p{
    padding: 20px 5px;
    margin: 0;
}

.projectHeader{
    display: flex;
}

.buttonOuter{
    margin: 0;
    margin: 0;

    text-align: center;
}

.buttonOuter div{
    background: var(--buttoncolor);
    color: var(--fontcolor);
    text-decoration: none;
    padding: 10px;
    border-radius: 9px;
    transition: 500ms all ease-in-out;
}

.buttonOuter div p{
    margin: 0;
    padding: 0;
}

.buttonOuter div:hover{
    background: darkblue;
}

.aboutDesc{
    width: calc(var(--bodywidth)*.5);
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}



@media screen and (min-width: 1000px){
    .content div:first-child{
        margin-right: 8px;
    }
    
    .content div:last-child{
        margin-left: 8px;
    }
}

@media screen and (max-width: 1000px){
    .aboutDesc{
        width: 95%;
    }
    .projectLink{
        margin: 5px;
        width: 100%;
    }

    .projectRow{
        display: block;
    }
    .projects{
        width: 95%;
    }

    :root{
        --bodywidth: 95%;
    }

    .content{
        display: block;
    }

    .content div{
        width: 100%;
        margin-bottom: 8px;
    }

    .skill{
        text-align: center;
    }

    .skill img{
        margin: 0 auto;
    }

    .skill p{
        margin: 0 auto;
        font-size: 15px
    }

    .title{
        text-align: center;
        margin-bottom: 25px;
    }

    .skills{
        width: var(--bodywidth);
    }
}

@media screen and (max-width: 600px){
    .skill p{
        display: none;
    }

    .skill svg{
        margin: auto;
        display: block;
    }

    .skill{
        align-items: center;
    }
}

.footer{
    height: 100px;
}



/* Blobs */

.blob {
    --pulsecolor: #000;
	background: rgb(var(--pulsecolor));
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	margin: 10px;
	height: 20px;
	width: 20px;
	transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(var(--pulsecolor), 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(var(--pulsecolor), 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(var(--pulsecolor), 0);
	}
}

.blob.green{
    --pulsecolor: 0,255,0;
}

.blob.red{
    --pulsecolor: 255,0,0;
}
.blob.orange{
    --pulsecolor: 255,165,0;
}

.blob.gray{
    --pulsecolor: 128,128,128;
}

.onlineBox{
    width: max-content;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    
}

.onlineBox p{
    font-weight: normal;
    cursor: pointer;
}

.activityBox{
    opacity: 0;
    background: var(--buttoncolor);
    padding: 5px;
    position: absolute;
    width: 20rem;
    border-radius: 9px;
    top: 50px;
    transition: 300ms ease-in-out;
    line-height: 25px;
}

.onlineBox:hover .activityBox{
    display: block;
    opacity: 1;
}

.logoOuter{
    width: max-content;
    margin: 0 auto;
}

.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}

.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}

.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}