main{
    
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

main > p{
    margin: 5px 0;
}

main > form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

main > form > .names{
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

main > form > .names > .nameOuter{
    width: 50%;
}

main > form > .names > .nameOuter input{
    width: 90%;
}

main input, main textarea, main button{
    background: #fff;
    color: gray;
    border: none;
    border-radius: 8px;
    padding: 3px;
    margin-bottom: 8px;
    
}

main button:hover{
    background:skyblue;
}