:root {
    --accent: #5b42f5;
    --accent-muted: #5347CC;
    --accent-foreground: white;
    --background-1: #fdfdfd;
    --background-2: #f2f2f2;
    --foreground-1: #0d0a20;
    --foreground-2: #aeb2ba;
}

:root:not([dark-mode]) {
    // When JS not enabled, for noscript JS and mitigating "flashbangs"
    @media (prefers-color-scheme: dark) {
        --accent: #5b42f5;
        --accent-muted: #5347CC;
        --accent-foreground: white;
        --background-1: #0D0A20;
        --background-2: #262534;
        --foreground-1: #e6edf3;
        --foreground-2: #cfd6dd;
    }
}

:root[dark-mode="true"] {
    --accent: #5b42f5;
    --accent-muted: #5347CC;
    --accent-foreground: white;
    --background-1: #0D0A20;
    --background-2: #262534;
    --foreground-1: #e6edf3;
    --foreground-2: #cfd6dd;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

:root, html, body {
    color: var(--foreground-1);
}

body {
    background-color: var(--background-1);
}

h2 {
    font-size: 2rem;
}

p {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        font-size: 16px;
    }
}

@media screen and (min-width: 1025px) {
    :root {
        font-size: 18px;
    }
}