nav {
    background: #0a0a18;
    height: 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
}

nav h1{
    padding-left: 20%;
    line-height: 60px;
    color: var(--accentColor);
    font-size: 30px;
}

nav h1 a{
    text-decoration: none;
    color: var(--accentColor);
}

nav div{
    height: 100%;
    display: flex;
    padding-right: 20%;
}

nav div a{
    height: 100%;
    margin: 0 3px;
    line-height: 60px;
    position: relative;
    text-decoration: none;
    color: white;
}
@media screen and (min-width: 800px){
    nav div a hr{
        position: absolute;
        bottom: 15px;
        left: 0;
        right: 0;
        margin: auto;
        width: 10px;
        transition: 200ms ease-in-out;
    }
    
    nav a.router-link-active hr{
        bottom: 15px;
        width: 75%;
        border: 1px solid var(--accentColor);
    }
    
    nav div a:hover hr{
        bottom: 18px;
    }
}


nav #hamburger{display:none}

@media screen and (max-width: 800px){

    nav{
        justify-content: center;
        position: fixed;
    }
    nav #hamburger{
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
        overflow: hidden;
        padding: 10px;
    }    

    nav #hamburger hr{
        height: 1px;
        width: 30px;
        background: white;
        border: none;
        transition: 300ms;
    }

    nav #hamburger hr:first-of-type{
        margin-bottom: 8px;
    }

    nav #hamburger hr:last-of-type{
        margin-top: 8px;
    }

    nav h1{
        padding: 0;
        width: 100%;
        background: #0a0a18;
        text-align: center;
    }

    nav > div{
        transition: 500ms;
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        justify-content: space-evenly;
        height: 40px;
        width: 100%;
        background: #181838;
        z-index: -2;
    }

    nav > div.active{

        top: 60px;
    }

    nav > div a{
        height: 100%;
        position: relative;
        line-height: 40px;
    }

    nav > div a.router-link-active{
        color: #9999ff;
    }

    nav > div a hr{
        display: none;
    }

    nav #hamburger.active hr:first-child{
        transform: rotate(45deg) translateY(10px) translateX(3px)
    }

    nav #hamburger.active hr:nth-child(2){
        transform: translateX(-100px)
    }

    nav #hamburger.active hr:last-child{
        transform: rotate(-45deg) translateY(-10px) translateX(3px)
    }
}