.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    justify-content: center;
    height: 100vh;
    color: var(--accentColor);
}

.intro .main{
    text-align:center;    
    transition: 200ms ease-in-out;
    
    
}

.intro .main .mainHeader > h1{
    font-size: 70px;
    
    transition: font-size 300ms ease-in-out 100ms;
    white-space: nowrap;

}

.intro .main .mainHeader > h3{
    font-size: 40px;
    transition: 200ms;
}

.intro .main .mainHeader > p{
    display: none;
    font-size: 30px;
    width: 450px;

}

.intro .main img{
    width: 0px;
    height: 0px;

    transition: all 100ms ease-in-out;
    
}


.intro .main:hover img{
    width: 150px;
    height: 150px;


}

.intro .main{
    display: flex;
    /* animation: glow 1s infinite alternate; */
    padding: 5px 25px;
    border-radius: 25px;
    transition: 300ms;
    justify-content: center;
    
}

.intro .main .mainHeader .socials{
    margin-top: 10px;
}

@media screen and (min-width: 1000px){
    
    .intro .main:hover{
        background: var(--accentColor);
        color: var(--color);
        padding: 25px 55px;
        width: 600px;
        color: white;
        
    }

    
    .intro .main .mainHeader .socials a{
        text-decoration: none;
        color: white;
    }


    .intro .main:hover .mainHeader > p{
        display: block;
        opacity: 1;
        font-size: 16px;
    
    }
    .intro .main:hover .mainHeader{
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
        flex-direction: column;
    }
    
    .intro .main:hover .mainHeader > h1{
        font-size: 40px;
    }
    
    .intro .main:hover .mainHeader > h3{
        display: none;
    }

    .intro .main:hover .mainHeader sub{
        display: none;
    }

    .intro .main .mainHeader .socials{
        display: none;
    }

    .intro .main:hover .mainHeader .socials{
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        width: 40%;
        color: var(--color);
        
    }
    
    .intro .main:hover .mainHeader .socials a{
        
        display: inline-block;
        transition: 200ms;
    
    }
    
    
    
    .intro .main:hover .mainHeader .socials a:hover{
        transform: scale(1.3);
    }
    
}



@media screen and (max-width: 1000px){
    
    .intro .main{
        padding: 0;
    }

    .intro .main .mainHeader > h1{font-size:30px}
    .intro .main .mainHeader > p{
        display: block;
        font-size: 12px;
    }

    .intro .main .mainHeader > h3{
        display:none;
    }
    .intro .main img{display:none;}

    .intro .main{
        width: 100%;
        background: none;
    }

    .intro .main .mainHeader{
        width: 100%;
        text-align: center;
        display: block;
        
    }

    .intro .main .mainHeader .desc{
        text-align: center;
        width: 80%;
        margin: 0 auto;
        font-size: 14px;
    }


    .intro .main .mainHeader sub{
        display: none;
    }

    .intro .main .mainHeader .socials{
        margin-top: 20px;
    }

    .intro .main .mainHeader .socials a{
        text-decoration: none;
        font-size: 20px;
        color: var(--fontColor);
        padding: 4px 10px;
        border-radius: 8px;
    }

   

    .projects{
        width: 95%;
    }

    .projects h1{
        text-align: center;

    }

    .projects .sort{
        text-align: center;
    }

    .projects .projectsInner .project{
        flex-basis: 100%;
    }

	.headerInner > a > h1{
		font-size: 30px;
	}
}