
.skills{
    width: 55%;
    margin: 50px auto;

}

.skills h1{
    color: var(--color);
}

.skills .langs{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    background: none;
}



.skills .langs .lang {
    color: var(--color);
    flex-basis: 25%;
    flex-grow: 1;
}

.skills .langs .lang .langInner{
    background: var(--fontColor);
    margin: 0 auto;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 12px;
    border-radius: 6px;
}



.skills .langs .lang .langInner img{
    width: 50px;
    height: 50px;
}

.skills .langs .lang .langInner h1{
    margin: 2px 0;
    font-size: 20px;
    color: white;
}

.skills .langs .lang .langInner .skillLevel{
    background: rgb(77, 77, 77);
    width: 100%;
    height: 3px;
    margin-top: 5px;
}

.skills .langs .lang .langInner .skillLevel hr{
    float: left;
    margin: auto;
    margin-left: 0;
    border: none;
    background: cyan;
    box-shadow: 0px 0px 4px cyan;
    height: 3px;
}



@media screen and (max-width: 800px){
    .skills{
        width: 95%;
    }

    .skills h1{
        text-align: center;
        margin-bottom: 20px;
    }

    .skills .langs .lang {
        flex-basis: 50%;
    }
}