---
import MainLayout from "../layouts/Main.astro";
import AvailabilityCalendar from "../components/AvailabilityCalendar.vue";

const description = "Availability Calendar";
---

<MainLayout description={description}>
    <main>
        <h1>Availability</h1>
        <div class="calendar">
            <AvailabilityCalendar client:load />
        </div>
    </main>
</MainLayout>

<style lang="scss">
    main {
        padding-top: 5rem 0 1rem;
        width: var(--section-width);
        margin: 0 auto;
        scroll-margin-top: 5rem;
        h1 {
            font-size: 2.5rem;
			margin-bottom: 1rem;
        }
		hr {
			box-sizing: content-box;
			overflow: hidden;
			background: transparent;
			border-bottom: 1px solid #21262d;
			height: 0.15em;
			padding: 0;
			background-color: #30363d;
			border: 0;
		}
        > p {
            font-size: 1.25rem;
            margin-bottom: 2rem;
        }

        .calendar {
            max-width: 60%;
            margin: 0 auto;

            --fc-button-bg-color: var(--accent);
            --fc-event-bg-color: var(--accent);
            --fc-event-border-color: var(--accent);
            --fc-event-text-color: var(--accent-foreground);
            --fc-page-bg-color: var(--background-2);

            :deep(.fc .fc-toolbar) {
                flex-direction: column;
            }
        }

        @media screen and (max-width: 1200px) {
            .calendar {
                max-width: 100%;
                height: max-content;
            }
            
        }
    }
</style>
