---
import MainLayout from "../layouts/Main.astro";

import Projects from "../components/Projects.astro";
import Contact from "../components/ContactForm.astro";

import TiltDivider from "../assets/hero-tilt-divider.svg?raw";
import feelingProudIllustration from "../assets/illustrations/undraw-feeling-proud.svg?raw";
import Blob from "../assets/illustrations/blob.svg?raw";

const yearsAsDev = new Date().getFullYear() - 2021;
---

<MainLayout
  description="I'm a full-stack developer from the UK - I handle the development, deployment and maintenance of your website, start to finish."
  metaImage="meta-preview.png"
  footerBackground="true"
>
	<main>
		<div class="section" id="hero">
			<div class="section-content">
				<div class="title">
					<h1>
						Jack<br>
						<span>Bailey</span>
					</h1>
				</div>
				<p>I handle the development, deployment and maintenance of your website, start to finish.</p>
				<div class="buttons">
					<a href="/#projects">
						<button tabindex="-1">
							My work
						</button>
					</a>
				</div>
			</div>
			<div class="background-split">
				<Fragment set:html={TiltDivider} />
			</div>
		</div>
		<div class="section" id="about">
			<div class="section-content">
				<div class="content">
					<h2>I’m a full-stack developer from the UK.</h2>
					<p>
						I’ve been developing various projects in a variety of languages such as Python,
						JavaScript and C# for many years, but over the past {yearsAsDev} years I’ve discovered
						my passion for website development. In this time, I have built up my skillset and developed
						websites for a variety of individuals and businesses. 
					</p>
				</div>
				<div class="illustration">
					<Fragment set:html={feelingProudIllustration} alt="A developer behind a monitor, with a GitHub-style commit history behind him" style="background: blue;">
					<div class="blob">
						<Fragment set:html={Blob} />
					</div>
				</div>
			</div>
		</div>
		<div class="section" id="projects">
			<div class="section-content">
				<h2>Past Projects</h2>
				<div class="projects">
					<Projects />
				</div>
			</div>
		</div>
		<div class="section" id="contact">
			<Contact />
		</div>
	</main>
</MainLayout>



<style lang="scss">
	main {
		padding-top: 0;
		.section {
			scroll-margin-top: 5rem;
			.section-content {
				width: var(--section-width);
				margin: 0 auto;
			}
			&#hero {
				position: relative;
				z-index: 3;
				--hero-height: max-content;
				--hero-split-height: 20rem;
				background-image: linear-gradient(
					to top,
					transparent var(--hero-split-height),
					#251b8b var(--hero-split-height),
					#0F093E
				);
				.section-content {
					height: var(--hero-height);
					box-sizing: border-box;
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: max-content max-content;
					align-content: center;
					align-items: center;
					justify-content: space-between;
					text-align: left;
					gap: 2rem 5rem;
					padding: 8rem 0;
					.title {
						padding-top: 5rem;
						h1 {
							white-space: nowrap;
							margin: 0;
							font-size: 10rem;
							line-height: 0.9em;
							color: var(--accent-foreground);
	
							> span {
								color: var(--accent-muted);
							}
						}
					}

					> p {
						font-size: 1.5rem;
						font-weight: 600;
						text-shadow: 5px 5px 0px rgba(0,0,0,0.1);
						text-align: right;
						align-self: self-end;
						margin: 0 0 0.7rem;
						color: var(--accent-foreground);
						@media screen and (min-width: 1201px){
							grid-row: 1/3;
							grid-column: 2;
							padding: 5rem 0 calc(var(--hero-split-height) * 0.8) 0;
						}
					}

					.buttons {
						padding-bottom: 4rem;
						display: flex;
						flex-direction: row;
						align-self: self-start;
						gap: 1rem;
						button {
							padding: 0.5em 1em;
							border: none;
							border-radius: 0.5rem;
							font-size: 1.25rem;
							font-family: inherit;
							cursor: pointer;
							font-weight: 600;
							border: 0.1rem solid var(--accent-foreground);
							background: none;
							color: var(--accent-foreground);
							border-radius: 100vh;
							transition: border 0.5s;
							transition: color 0.5s;
							transition: background 0.5s;
							&:focus {
								outline: 0.1rem solid var(--accent);
							}
							
							&:hover {
								border-color: var(--accent);
								background-color: var(--accent);
								color: var(--accent-foreground);
							}
						}
					}
				}
				.background-split {
					z-index: 1;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: var(--hero-split-height);
					transform: rotate(0deg) scaleX(-1);
					z-index: -1;
					:global(svg) {
						width: 100%;
						height: 100%;
						display: block;
						margin: -1px 0;
					}
				}

			}
			&#about {
				.section-content {
					display: grid;
					grid-template-columns: 1fr 1fr;
					align-items: center;

					.content {
						p {
							font-size: 1.25rem;
						}
					}
	
					.illustration {
						position: relative;
						display: grid;
						place-content: center;
						z-index: 0;

						.blob {
							position: absolute;
							top: 50%;
							left: 50%;
							width: 25rem;
							height: 25rem;
							transform: translate(-50%, -50%);
							z-index: -1;
							:global(svg) {
								width: 100%;
								height: 100%;
							}
						}
						
						:global(.feeling-proud-illustration) {
							width: 18rem;
							height: auto;
							margin-left: auto;
						}
					}
				}
			}

			&#projects {
				.section-content {
					margin: 4rem auto 4rem;
				}
			}

			&#contact {
				padding-top: 2rem;
			}

			@media screen and (max-width: 1200px){
				&#hero {
					--hero-split-height: 10rem;
					.section-content {
						grid-template-columns: 1fr;
						gap: 2rem;
						padding: 0;

						.title {
							padding-top: 6rem;
							h1 {
								font-size: 8rem;
							}
						}

						> p {
							text-align: left;
							max-width: 45ch;
						}
					}
				}
			}

			@media screen and (max-width: 768px) {
				&#hero {
					--hero-split-height: 5rem;
					.section-content {
						gap: 1.5rem;
						.title {
							h1 {
								font-size: 6rem;
							}
						}

						> p {
							font-size: 1.6rem;
						}

						.buttons {
							button {
								font-size: 1.35rem;
							}
						}
					}
				}

				&#about {
					.section-content {
						grid-template-columns: 1fr;
						gap: 4rem;
						padding-top: 2rem;

						.illustration {
							grid-row: 1;
							:global(.feeling-proud-illustration) {
								width: 60%;
								height: auto;
								margin: 0 auto;
							}

							.blob {
								width: 20rem;
								height: 20rem;
							}
						}
					}
				}
			}
		}
	}
</style>