---
import MainLayout from "../layouts/Main.astro";
import WavyDivider from "../components/WavyDivider.astro";
import TiltDivider from "../assets/tilt-divider.svg?raw";

import developerActivity from "../assets/illustrations/undraw-developer-activity.svg?raw";
---

<MainLayout>
	<main>
		<div class="section" id="hero">
			<div class="section-content">
				<div class="title">
					<h1>
						Jack<br>
						<span>Bailey</span>
					</h1>
				</div>
				<p>I handle the development, deployment and maintenance of your website, start to finish.</p>
				<div class="buttons">
					<button>
						My work
					</button>
				</div>
			</div>
			<div class="background-split">
				<Fragment set:html={TiltDivider} />
			</div>
		</div>
		<!-- <WavyDivider/> -->
		<div class="section" id="about">
			<div class="section-content">
				<div class="content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sit explicabo dicta? Commodi delectus, reiciendis ea amet labore dolorum, provident repudiandae dicta incidunt maiores dolorem architecto iste eius quae sit!
				</div>
				<div class="illustration">
					<Fragment set:html={developerActivity} alt="A developer behind a monitor, with a GitHub-style commit history behind him" style="background: blue;">
				</div>
			</div>
		</div>
	</main>
</MainLayout>



<style lang="scss">
	main {
		.section {
			.section-content {
				width: clamp(16rem, 90vw, 80rem);
				margin: 0 auto;
			}
			&#hero {
				background-image: linear-gradient(to bottom, #160F5A,#2D21A7);
				position: relative;
				z-index: 0;
				.section-content {
					width: 100%;
					height: 90vh;
					padding: 4rem 4rem 10rem;
					// padding: 0;
					box-sizing: border-box;
	
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: max-content max-content;
					align-content: center;
					gap: 2rem 5rem;
					align-items: center;
					justify-content: space-between;
					text-align: left;
					.title {
						h1 {
							white-space: nowrap;
							margin: 0;
							font-size: 12rem;
							line-height: 0.9em;
							color: var(--accent-foreground);
	
							> span {
								color: var(--accent-muted);
							}
						}
					}

					> p {
						font-size: 1.8rem;
						font-weight: 600;
						font-family: "Quicksand", Arial, Helvetica, sans-serif;
						text-shadow: 5px 5px 0px rgba(0,0,0,0.1);
						text-align: right;
						align-self: self-end;
						margin: 0 0 0.7rem;
						color: var(--accent-foreground);
					}
					.buttons {
						display: flex;
						flex-direction: row;
						align-self: self-start;
						gap: 1rem;
						button {
							padding: 0.5em 1em;
							border: none;
							border-radius: 0.5rem;
							font-size: 1.7rem;
							font-family: inherit;
							cursor: pointer;
							font-weight: 600;
							border: 1px solid var(--accent-foreground);
							background: none;
							color: var(--accent-foreground);
							border-radius: 100vh;
						}
					}
				}
				.background-split {
					z-index: 1;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 20rem;
					transform: rotate(180deg) scaleX(-1);
					z-index: -1;
					:global(svg) {
						width: 100%;
						height: 100%;
						fill: var(--background-1);;
					}
				}

			}
			&#about {
				background-color: var(--background-1);
				height: 200vh;

				.section-content {
					padding: 4rem;
					display: grid;
					grid-template-columns: 1fr 1fr;
					align-items: center;
	
					.illustration {
						display: grid;
						place-content: center;
						
					}
	
					.illustration :global(svg) {
						width: 18rem;
						height: 18rem;
						margin-left: auto;
					}
				}
			}

			@media screen and (max-width: 1000px){
				&#hero {
					.section-content {
						flex-direction: column;
						justify-content: center;
						align-items: flex-start;
						gap: 0;
						width: max-content;
						max-width: 100%;
						width: 100%;

						.cta {
							max-width: 80%;
						}
					}
				}
			}

			@media screen and (max-width: 768px) {
				&#hero {
					padding: 2rem 2rem 0;
					gap: 0;

					.title {
						h1 {
							white-space: normal;
							font-size: 2.5rem;
						}
					}

					.cta {
						max-width: unset;
					}
				}
			}
		}
	}
</style>