---
import MainLayout from "../layouts/Main.astro";
import TiltDivider from "../assets/hero-tilt-divider.svg?raw";

import feelingProudIllustration from "../assets/illustrations/undraw-feeling-proud.svg?raw";
import Blob from "../assets/illustrations/blob.svg?raw";
---

<MainLayout>
	<main>
		<div class="section" id="hero">
			<div class="section-content">
				<div class="title">
					<h1>
						Jack<br>
						<span>Bailey</span>
					</h1>
				</div>
				<p>I handle the development, deployment and maintenance of your website, start to finish.</p>
				<div class="buttons">
					<button>
						My work
					</button>
				</div>
			</div>
			<div class="background-split">
				<Fragment set:html={TiltDivider} />
			</div>
		</div>
		<!-- <WavyDivider/> -->
		<div class="section" id="about">
			<div class="section-content">
				<div class="content">
					<h2>Lorem ipsum dolor sit amet</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sit explicabo dicta? Commodi delectus, reiciendis ea amet labore dolorum, provident repudiandae dicta incidunt maiores dolorem architecto iste eius quae sit!
					</p>
				</div>
				<div class="illustration">
					<Fragment set:html={feelingProudIllustration} alt="A developer behind a monitor, with a GitHub-style commit history behind him" style="background: blue;">
					<div class="blob">
						<Fragment set:html={Blob} />
					</div>
				</div>
			</div>
		</div>
	</main>
</MainLayout>



<style lang="scss">
	main {
		.section {
			.section-content {
				width: clamp(16rem, 95vw, 1440px);
				margin: 0 auto;
			}
			&#hero {
				position: relative;
				z-index: 2;
				--hero-height: 80vh;
				--hero-split-height: 20rem;
				background-image: linear-gradient(
					to bottom,
					#160F5A,
					#251b8b calc(var(--hero-height) - var(--hero-split-height)),
					transparent calc(var(--hero-height) - var(--hero-split-height))
				);
				.section-content {
					// width: 100%;
					height: var(--hero-height);
					// padding: 4rem 4rem 10rem;
					// padding: 0;
					box-sizing: border-box;
	
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: max-content max-content;
					align-content: center;
					gap: 2rem 5rem;
					align-items: center;
					justify-content: space-between;
					text-align: left;
					.title {
						h1 {
							white-space: nowrap;
							margin: 0;
							font-size: 10rem;
							line-height: 0.9em;
							color: var(--accent-foreground);
	
							> span {
								color: var(--accent-muted);
							}
						}
					}

					> p {
						font-size: 1.5rem;
						font-weight: 600;
						text-shadow: 5px 5px 0px rgba(0,0,0,0.1);
						text-align: right;
						align-self: self-end;
						margin: 0 0 0.7rem;
						color: var(--accent-foreground);
					}
					.buttons {
						display: flex;
						flex-direction: row;
						align-self: self-start;
						gap: 1rem;
						button {
							padding: 0.5em 1em;
							border: none;
							border-radius: 0.5rem;
							font-size: 1.7rem;
							font-family: inherit;
							cursor: pointer;
							font-weight: 600;
							border: 1px solid var(--accent-foreground);
							background: none;
							color: var(--accent-foreground);
							border-radius: 100vh;
						}
					}
				}
				.background-split {
					z-index: 1;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: var(--hero-split-height);
					transform: rotate(0deg) scaleX(-1);
					z-index: -1;
					:global(svg) {
						width: 100%;
						height: 100%;
						display: block;
						margin: -1px 0;
						// fill: red;
					}
				}

			}
			&#about {
				.section-content {
					display: grid;
					grid-template-columns: 1fr 1fr;
					align-items: center;

					.content {
						h2 {
							font-size: 2rem;
						}
						p {
							font-size: 1.25rem;
						}
					}
	
					.illustration {
						position: relative;
						display: grid;
						place-content: center;
						z-index: 0;

						.blob {
							position: absolute;
							top: 50%;
							left: 50%;
							width: 25rem;
							height: 25rem;
							transform: translate(-50%, -50%);
							z-index: -1;
							:global(svg) {
								width: 100%;
								height: 100%;
							}
						}
						
						:global(.feeling-proud-illustration) {
							width: 18rem;
							height: auto;
							margin-left: auto;
						}
					}
				}
			}

			@media screen and (max-width: 1200px){
				&#hero {
					--hero-height: 70vh;
					--hero-split-height: 10rem;
					.section-content {
						grid-template-columns: 1fr;
						align-items: flex-start;
						gap: 2rem;

						.title {
							h1 {
								font-size: 8rem;
							}
						}

						> p {
							text-align: left;
						}
					}
				}
			}

			@media screen and (max-width: 768px) {
				&#hero {
					--hero-height: 70vh;
					--hero-split-height: 5rem;
					.section-content {
						gap: 1.5rem;
						.title {
							h1 {
								line-height: 1em;
								font-size: 5rem;
							}
						}

						> p {
							font-size: 2rem;
						}

						.buttons {
							button {
								font-size: 1.5rem;
							}
						}
					}
				}

				&#about {
					.section-content {
						grid-template-columns: 1fr;
						gap: 3rem;
						padding-top: 2rem;

						.illustration {
							grid-row: 1;
							:global(.feeling-proud-illustration) {
								width: 60%;
								height: auto;
								margin: 0 auto;
							}

							.blob {
								width: 20rem;
								height: 20rem;
							}
						}
					}
				}
			}
		}
	}
</style>