---
import MainLayout from "../layouts/Main.astro";

const { icon, title, message, showBackground } = Astro.props;
---

<MainLayout>
    <main>
        <div class="icon" data-background={showBackground || "true"}>
            <Fragment set:html={icon} />
        </div>
        <h1>{title}</h1>
        <p>{message}</p>
        <a href="/">
            <button>Go home</button>
        </a>
    </main>
</MainLayout>

<style lang="scss">
    main {
        padding-top: 4rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        .icon {
            width: 6rem;
            height: auto;
            display: grid;
            place-content: center;

            :global(svg) {
                display: block;
                width: 100%;
                fill: var(--accent);
                path { 
                    height: 100%;
                }
            }
            &[data-background="true"] {
                background-color: var(--accent);
                border-radius: 50%;
                padding: 1.25rem;
                box-sizing: border-box;
                height: 6rem;
                :global(svg) {
                    fill: var(--accent-foreground);
                }
            }
        }

        h1 {
            font-size: 5rem;
            margin: 1rem 0 0 0;
        }

        p {
            font-size: 1.5rem;
            margin: 0;
        }

        > a {
            text-decoration: none;
            margin-top: 1.5rem;
            button {
                padding: 0.5em 1em;
                border: none;
                border-radius: 0.5rem;
                font-size: 1.25rem;
                font-family: inherit;
                cursor: pointer;
                font-weight: 600;
                border: 0.1rem solid var(--accent-foreground);
                background: none;
                color: var(--accent-foreground);
                border-radius: 100vh;
                transition: border 0.5s;
                transition: color 0.5s;
                &:focus {
                    outline: 0.1rem solid var(--accent);
                }
                
                &:hover {
                    border-color: var(--accent);
                }
            }
        }
    }
</style>