---
import { Image } from "astro:assets";
import "../styles/global.scss";
import ThemeSelector from "./ThemeSelector.astro";
import Logo from "../assets/logo.png";
import Envelope from "../assets/icons/envelope.svg?raw";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav data-on-homepage={"true"}>
    <div class="nav-content">
        <a href="/">
            <div class="logo">
                <Image src={Logo} alt="Jack Bailey logo" width="72" height="72" />
            </div>
            <h2>Jack <span>Bailey</span></h2>
        </a>
        <ul>
            <li class="about">
                <a href="/#about">
                    About
                </a>
            </li>
            <li class="projects">
                <a href="/#projects">
                    Projects
                </a>
            </li>
            <li class={currentPath.startsWith("blog") ? "active" : ""}>
                <a href="/blog">
                    Blog
                </a>
            </li>
            <li class="contact-me">
                <a href="/#contact" aria-label="Go to contact section">
                    <span>Contact me</span>
                    <div class="icon">
                        <Fragment set:html={Envelope} />
                    </div>
                </a>
            </li>
            <li class="theme-selector-item">
                <ThemeSelector />
            </li>
        </ul>
    </div>
</nav>

<div class="nav-background"></div>

<style lang="scss">
.nav-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: #0d0a20;
    z-index: 2;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: hsla(0, 0%, 5%, 0.1);
    box-sizing: content-box;
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #757780;
        position: absolute;
        top: 100%;
        left: 0;

    }
    .nav-content {
        box-sizing: border-box;
        width: var(--section-width);
        height: 4rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > a {
            text-decoration: none;
            color: var(--accent-foreground);
            height: max-content;
            .logo {
                display: none;
            }
            h2 {
                font-size: 2rem;
                margin: 0;
                span {
                    color: var(--accent-muted);
                }
        
                text-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.5);
            }
        }
        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            list-style-type: none;
            gap: 0.5rem;
            margin: 0;
            padding: 0;
            li {
                a {
                    display: block;
                    text-decoration: none;
                    color: var(--accent-foreground);
                    margin: 0;
                    box-sizing: border-box;
                    padding: 0.5rem 0.5rem;
                    font-size: 1.2rem;
                    transition: 150ms ease-in-out;
                    font-family: "Quicksand", Arial, Helvetica, sans-serif;
                }
    
                &.active a {
                    color: var(--accent-muted);
                    text-decoration: underline;
                }
    
                &:not(.contact-me) a {
                    &:hover {
                        color: var(--accent-muted);
                    }
    
                }
    
                &.contact-me a {
                    background-color: var(--accent-muted);
                    border-radius: 100rem;
                    padding: 0.5rem 1rem;
                    &:hover {
                        background-color: var(--accent-foreground);
                        span {
                            color: var(--accent-muted);
                        }
                    }
    
                    span {
                        color: var(--accent-foreground);
                    }
    
                    .icon {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    nav {
        .nav-content {
            > a {
                height: 3rem;
                .logo {
                    height: 3rem;
                    width: 3rem;
                    display: block;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                h2 {
                    display: none;
                }
            }
            ul {
                li {
                    &.about,
                    &.projects {
                        display: none;
                    }
    
                    &.contact-me a {
                        padding: 0.5rem;
                        span {
                            display: none;
                        }
                        .icon {
                            display: block;
                            height: 1.5rem;
                            :global(svg) {
                                height: 1.5rem;
                                width: 1.5rem;
                                fill: var(--accent-foreground);
                            }
                        }
    
                        &:hover {
                            .icon {
                                :global(svg) {
                                    fill: var(--accent-muted);
                                }
                            }
                        }
                    }
                }
            }
        }
    }    
}
</style>
