<div class="wavy-divider">
    <div class="svg-container">
        <svg viewBox="0 0 1440 320" width="100%" height="100%" preserveAspectRatio="none">
            <g clip-path="url(#clip0_49_2)">
                <g filter="url(#filter0_d_49_2)">
                    <path
                        d="M-0.00695801 235L-0.00694274 162C50.9618 117.69 115.814 59.8337 217.751 26.6274C319.689 -7.20739 421.626 15.838 523.563 49.0442C625.501 82.879 727.438 126.875 829.376 155.158C931.313 183.441 1033.25 193.916 1135.19 177.47C1237.13 160.395 1339.06 116.4 1390.03 93.6684L1441.99 71V306H1390.03C1339.06 306 1237.13 306 1135.19 306C1033.25 306 931.313 306 829.376 306C727.438 306 625.501 306 523.563 306C421.626 306 319.689 306 217.751 306C115.814 306 50.9618 306 -0.00694274 306L-0.00695801 235Z"
                        fill="url(#paint0_linear_49_2)"></path>
                </g>
            </g>
            <g clip-path="url(#clip1_49_2)">
                <g filter="url(#filter1_d_49_2)">
                    <path
                        d="M0 25L47.9999 64.8288C95.9999 107.713 192 191.888 288 228.629C384 264.688 480 253.313 576 240.8C672 228.288 768 216.912 864 186.2C960 155.487 1056 107.713 1152 101.229C1248 95.2 1344 131.6 1392 149.8L1440.99 168V350H1392C1344 350 1248 350 1152 350C1056 350 960 350 864 350C768 350 672 350 576 350C480 350 384 350 288 350C192 350 95.9999 350 47.9999 350H0V25Z"
                        fill="url(#paint1_linear_49_2)"
                        fill-opacity="0.96"></path>
                </g>
            </g>
            <g clip-path="url(#clip2_49_2)">
                <g filter="url(#filter2_d_49_2)">
                    <path
                        d="M0 232C31 226.5 83.5002 215 146.509 199.463C290.342 171.594 434.175 104.792 578.008 110.324C721.841 116.273 865.674 193.513 1009.51 221.695C1153.34 249.877 1297.17 226.914 1369.09 216.163L1441.01 205V372H1369.09C1297.17 372 1153.34 372 1009.51 372C865.674 372 721.841 372 578.008 372C434.175 372 290.342 372 146.509 372C2.67564 372 143.833 372 0 372C0 321 0 311 0 232Z"
                        fill="url(#paint2_linear_49_2)"></path>
                </g>
            </g>
            <defs>
                <filter id="filter0_d_49_2" x="-4.00696" y="10" width="1450" height="304" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                    <feOffset dy="4"></feOffset>
                    <feGaussianBlur stdDeviation="2"></feGaussianBlur>
                    <feComposite in2="hardAlpha" operator="out"></feComposite>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_49_2"></feBlend>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_49_2" result="shape"></feBlend>
                </filter>
                <filter id="filter1_d_49_2" x="-4" y="25" width="1448.99" height="333" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                    <feOffset dy="4"></feOffset>
                    <feGaussianBlur stdDeviation="2"></feGaussianBlur>
                    <feComposite in2="hardAlpha" operator="out"></feComposite>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_49_2"></feBlend>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_49_2" result="shape"></feBlend>
                </filter>
                <filter id="filter2_d_49_2" x="-4" y="110" width="1449.01" height="270" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                    <feOffset dy="4"></feOffset>
                    <feGaussianBlur stdDeviation="2"></feGaussianBlur>
                    <feComposite in2="hardAlpha" operator="out"></feComposite>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_49_2"></feBlend>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_49_2" result="shape"></feBlend>
                </filter>
                <linearGradient id="paint0_linear_49_2" x1="839.083" y1="306" x2="832.495" y2="-65.0732" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#4E38DA"></stop>
                    <stop offset="1" stop-color="#3C2C9D"></stop>
                </linearGradient>
                <linearGradient id="paint1_linear_49_2" x1="781.572" y1="296" x2="791.337" y2="69.9929" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#342C95"></stop>
                    <stop offset="1" stop-color="#3C2C9D"></stop>
                </linearGradient>
                <linearGradient id="paint2_linear_49_2" x1="401.221" y1="342" x2="390.327" y2="162.662" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1F195A"></stop>
                    <stop offset="1" stop-color="#1F195A" stop-opacity="0.7"></stop>
                </linearGradient>
                <clipPath id="clip0_49_2">
                    <rect width="1441" height="311" fill="white"></rect>
                </clipPath>
                <clipPath id="clip1_49_2">
                    <rect width="1440" height="335" fill="white" transform="translate(0 15)"></rect>
                </clipPath>
                <clipPath id="clip2_49_2">
                    <rect width="1441" height="312" fill="white" transform="translate(0 60)"></rect>
                </clipPath>
            </defs>
        </svg>
    </div>
    <div class="spacer"></div>
</div>

<style lang="scss">
    .wavy-divider {
        .svg-container {
            position: relative;
            height: 15rem;
            svg {
                height: 100%;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        .spacer {
            height: 10rem;
            background-color: #1F195A;
        }
    }
</style>
