.projectsContainer{
    width: 55%;
    margin: 20px auto;
    margin-bottom: 60px;

}

.projectsContainer > .filters{
    margin-bottom: 10px;
    display: flex;
    margin-left: 5px;
}

.projectsContainer > .filters > select{
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    background: rgb(24, 24, 58);
    color: #eee;
    border: none;
    margin-right: 2px;
    padding: 2px 3px;
}

.projectsContainer > .filters > #type{
    display: inline-block;
    background: rgb(24, 24, 58);
    padding: 2px 6px;
    height: 20px;
    line-height: 100%;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

.projectsContainer > h1{
    margin-bottom: 20px;
}

.projects{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.project{
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
}

.projectInner{
    padding: 10px 20px;
    flex-grow: 1;
    margin: 6px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.projectInner > p{
    margin: 0 -20px -10px -20px;
    padding: 10px 15px;
    margin-bottom: auto;
    flex-grow: 1;
    border-radius: 0px 0px 6px 6px;
    background: rgba(24, 24, 58, 0.9);
    
}

.projectHeader{
    margin: -10px -20px 0 -20px;
    padding: 5px 10px;
    border-radius: 6px 6px 0px 0px;
    background: var(--accentColor);
    display: flex;
    justify-content: space-between;
}

.projectInner > .projectHeader > h1{
    font-size: 22px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    margin-left: 5px;
}

.projectInner > .projectHeader > h1 > a > i{
    color: deepskyblue;
    margin-left: 5px;
}

.projectInner > .projectHeader > h1 > a{
    text-decoration: none;
    color: white;
    transition: 300ms;
    position: relative;
}

.projectInner > .projectHeader > h1 > #projectLink:before{
    content: "";
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    transition: 300ms;
}

.projectInner > .projectHeader > h1 > #projectLink:hover:before{
    width: 100%;
}


.projectHeader .languages {
    display: flex;
}

.projectHeader .languages > span > a{
    height: max-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;


}

.projectHeader .languages > span > a > img{
    width: 32px;
    height: 32px;
    margin-left: 3px;
}


@media screen and (max-width: 800px){
    .projectsContainer{
        width: 90%;
    }

    .projects{
        margin: 0 auto;
    }

    .project{
        flex-basis: 100%;
        margin: 0 auto;
    }

    .projectsContainer > h1{
        text-align: center;
    }

    .projectsContainer > .filters{
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    
    .projectsContainer > .filters > select{
        padding: 4px 12px;
    }
    
    .projectsContainer > .filters > #type{
        padding: 4px 12px;
        line-height: 100%;
    }
}