
<div id="giscus">
    <giscus-widget
        repo="jackbailey/portfolio"
        repoid="MDEwOlJlcG9zaXRvcnkzOTE2NzMzODI="
        category="Blog Comments"
        categoryid="DIC_kwDOF1h2Js4CeLWz"
        mapping="pathname"
        reactionsenabled="0"
        emitmetadata="0"
        inputposition="top"
        theme="preferred_color_scheme"
        lang="en"
        loading="lazy"
        style="width: 50%;"
    />
</div>

<script>
    import "giscus";
    let dark;
    
    if (localStorage.getItem("dark") !== null) {
        dark = localStorage.getItem("dark") === "true";
    } else {
        dark = (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) || false;
    }

    const giscus = document.querySelector("giscus-widget");
    giscus.setAttribute("theme", dark ? "https://giscus.app/themes/transparent_dark.css" : "light");
</script>