<div class="giscus" style="padding-bottom: 5rem;"></div>

<script src="https://giscus.app/client.js"
    data-repo="jackbailey/portfolio"
    data-repo-id="MDEwOlJlcG9zaXRvcnkzOTE2NzMzODI="
    data-category="Blog Comments"
    data-category-id="DIC_kwDOF1h2Js4CeLWz"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="en"
    crossorigin="anonymous"
    async>
</script>