---
import dayjs from "dayjs";
import advancedFormat from "dayjs/plugin/advancedFormat";
import utc from "dayjs/plugin/utc";

dayjs.extend(advancedFormat);
dayjs.extend(utc);

const { tags: tagsString, date: creationDate } = Astro.props;

const tags = [];

if (tagsString) {
    tagsString.split(",").map((tag) => {
        tag = tag.trim();
        tags.push({
            id: tag.toLowerCase(),
            name: tag
        });
    });
}

---

<div class="tags">
    {
        creationDate && 
            <div class="tag date">
                { dayjs(creationDate).utc().format("Do MMM YYYY") }
            </div>
    }
    {
        tags.map((tag) => 
            <a class="tag" href={ `/blog/tags/${ tag.id }` }>
                { tag.name }
            </a>
        )
    }
</div>

<style lang="scss">
    .tags {
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
        .tag {
            margin: 0;
            color: var(--accent);
            text-transform: uppercase;
            text-decoration: underline;
            text-decoration-thickness: 0.1rem;
            letter-spacing: 0.01rem;
            font-weight: 600;
            font-family: "Quicksand", Arial, Helvetica, sans-serif;
        }
    }
</style>